<!DOCTYPE html> 
<html lang="en"> 
<head> 
    
    <meta charset="UTF-8"> 
    <title>Banner Images</title> 
  
      <meta name="viewport" content="width=device-width, initial-scale=1"> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
      </script> 
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> 
      </script> 
      <style>
        th{
          font-size: 24px;
        }
        td{
         
          font-size: 22px;
          padding-left: 20px;
          padding-right: 20px;
        }
      </style>
</head> 
<body style="background-color: azure;"> 
  <div style="padding-left: 30px;"><table border="all" >
    
      <th>Title</th>
      <th>Description</th>
    <th>Attachfile</th>
  <th>Remark</th>

    {% for Note1 in Note %} 
           

                <tr>
             <td>{{ Note1.title }}</td>
             <td>{{ Note1.description }}</td>
                    <td><a href="{{ Note1.attach_file.url }}">Download</a></td> 
            
                    <td><a href="delet/{{Note1.id}}" style="color: crimson; font-style: italic; padding-top: 10px; font-size: 22px;">Delete</a>
                      </td>
               
                </tr> 
    {% endfor %}
     <br><br>
</table></div>
    <center> <a href="admin"><button type="submit" style="font-size: 22px; background-color: blue; color: white; ">Back Admin Menu</button></a></center><br><br>
    <center> <a href="banner_upload"><button type="submit" style="font-size: 22px; background-color: blue; color: white; ">Upload Again Banner Image</button></a></center>
</body> 
</html> 